.allshapes {
	background-color: rgb(0,0,0);
	position: absolute;
}
.title {
	color: rgb(0,0,0);
	position: absolute;
	top: 370px;
	left: 90px;
	width: 100px;
	font-family: Trebuchet MS;
	font-size: 28px;
	line-height: 20px;
	font-weight: bold;
}
.title:hover {
	transform: skew(-30deg);
	transition: transform 3s ease-in-out;
}
.copy {
	color: rgb(0,0,0);
	position: absolute;
	top: 400px;
	left: 90px;
	width: 375px;
	font-family: Trebuchet MS;
	font-size: 14px;
	line-height: 14px;
}
.allr{
	position: absolute;
	top: 100px;
	left: 30px;
	transform: scale(.65);
}
.allr:hover .allshapes {
	background-color: rgb(213,214,233);
	transition: all 1.5s ease-out;
}
.r1 {
	height: 200px;
	width: 10px;
	border-radius: 0px 20px 0px 20px;
	top: 100px;
	left: 100px;
}
.r1:hover {
	height: 230px;
	transition: all 5s ease-out;
}
.r2 {
	height: 100px;
	width: 100px;
	border-radius: 20px 20px 20px 0px;
	top: 100px;
	left: 135px;
}
.r2:hover {
	transform: rotate(180deg);
}
.r3 {
	height: 60px;
	width: 60px;
	border-radius: 0px 0px 0px 13px;
	top: 240px;
	left: 135px;
}
.r3:hover {
	transform: rotate(-90deg);
}
.r4 {
	height: 85px;
	width: 85px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 200px;
	left: 150px;
	transform: rotate(45deg);
}
.r5 {
	height: 20px;
	width:20px;
	border-radius: 6px 6px 6px 6px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 112px;
	left: 204px;	
}
.r5:hover {
	transform: rotate(630deg);
	transition: transform 2s ease-in-out;
}
.alla {
	position: absolute;
	top: 100px;
	left: 15px;
	transform: scale(.65);
}
.alla:hover .allshapes {
	background-color: rgb(216,216,206);
	transition: all 1.5s ease-out;
}
.a1 {
	height: 100px;
	width: 100px;
	border-radius: 0px 0px 20px 0px;
	top: 100px;
	left: 370px
}
.a1:hover {
	transform: rotate(-180deg);
}
.a2 {
	height: 145px;
	width: 145px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 25px;
	left: 297px;
	transform: rotate(45deg);
}
.a3 {
	height: 50px;
	width: 60px;
	border-radius: 20px 20px 0px 20px;	
	top: 250px;
	left: 320px;
}
.a3:hover {
	transform: rotate(-270deg);
	transition: transform 2s ease-out;
}
.a4 {
	height: 90px;
	width: 10px;
	border-radius: 0px 10px 0px 10px;
	top: 210px;
	left: 460px;
}
.a4:hover {
	width: 30px;
	left: 440px;
}
.a5 {
	height: 20px;
	width:20px;
	border-radius: 6px 6px 6px 6px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 166px;
	left: 436px;	
}
.a5:hover {
	transform: rotate(360deg);
	transition: transform 1.5s ease-out;
}
.alln {
	position: absolute;
	top: 100px;
	left: 15px;	
	transform: scale(.65);
}
.alln:hover .allshapes {
	background-color: rgb(235,217,235);
	transition: all 1.5s ease-out;
}
.n1 {
	height: 200px;
	width: 20px;
	border-radius: 0px 20px 0px 20px;
	top: 100px;
	left: 580px;
}
.n1:hover {
	height: 250px;
	top: 50px;
}
.n2 {
	height: 100px;
	width: 100px;
	border-radius: 0px 0px 0px 20px;
	top: 100px;
	left: 620px;
}
.n2:hover {
	transform: rotate(90deg);
}
.n3 {
	height: 145px;
	width: 145px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 25px;
	left: 647px;
	transform: rotate(45deg);	
}
.n4 {
	height: 175px;
	width: 10px;
	border-radius: 0px 10px 0px 10px;
	top: 125px;
	left: 727px;
}
.n4:hover {
	height: 150px;
	top: 150px;
}
.n5 {
	height: 20px;
	width:20px;
	border-radius: 6px 6px 6px 6px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 165px;
	left: 633px;
}
.n5:hover {
	transform: rotate(-720deg);
	transition: transform 2.2s ease-in-out;
}
.allg {
	position: absolute;
	top: 100px;
	left: 10px;
	transform: scale(.65);
}
.allg:hover .allshapes {
	background-color: rgb(219,236,219);
	transition: all 1.5s ease-out;
}
.g1 {
	height: 150px;
	width: 20px;
	border-radius: 0px 0px 0px 20px;
	top: 150px;
	left: 837px;
}
.g1:hover {
	height: 190px;
}
.g2 {
	height: 10px;
	width: 110px;
	border-radius: 0px 0px 20px 0px;
	top: 100px;
	left: 877px;
}
.g2:hover {
	height: 50px;
	width: 150px;
	left: 837px;
}
.g3 {
	height: 100px;
	width: 100px;
	border-radius: 0px 20px 0px 0px;
	top: 200px;
	left: 875px;	
}
.g3:hover {
	transform: rotate(-270deg);
}
.g4 {
	height: 145px;
	width: 145px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 227px;
	left: 805px;
	transform: rotate(45deg);
}
.g5 {
	height: 20px;
	width:20px;
	border-radius: 6px 6px 6px 6px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 266px;
	left: 889px;
}
.g5 {
	height: 20px;
	width:20px;
	border-radius: 6px 6px 6px 6px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 212px;
	left: 943px;
}
.g5:hover {
	transform: rotate(270deg);
	transition: transform 1.5s ease-in-out;
}
.g6 {
	height: 50px;
	width: 20px;
	top: 100px;
	left: 851px;
	transform: skew(-30deg);
}
.alle {
	position: absolute;
	top: 100px;
	left: 20px;
	transform: scale(.65);
}
.alle:hover .allshapes {
	background-color: rgb(240,214,205);
	transition: all 1.5s ease-out;
}
.e1 {
	height: 200px;
	width: 20px;
	border-radius: 0px 0px 0px 20px;
	top: 105px;
	left: 1049px;
}
.e1:hover {
	height: 150px;
}
.e2 {
	height: 80px;
	width: 80px;
	border-radius: 20px 20px 20px 0px;
	top: 225px;
	left: 1095px;
}
.e2:hover {
	transform: rotate(540deg);
}
.e3 {
	height: 10px;
	width: 108px;
	border-radius: 0px 0px 20px 0px;
	top: 105px;
	left: 1067px;
}
.e3:hover {
	width: 80px;
}
.e4 {
	height: 7px;
	width: 105px;
	border-radius: 0px 0px 20px 0px;
	top: 165px;
	left: 1069px;
}
.e4:hover {
	height: 50px;
	top: 150px;
}
.e5 {
	height: 20px;
	width:20px;
	border-radius: 6px 6px 6px 6px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 275px;
	left: 1105px;
}
.e5:hover {
	transform: rotate(-180deg);
	transition: transform 1.5s ease-in-out;
}
.alls {
	position: absolute;
	top: 100px;
	left: 20px;
	transform: scale(.65);
}
.alls:hover .allshapes {
	background-color: rgb(240,222,241);
	transition: all 1.5s ease-out;
}
.s1 {
	height: 100px;
	width: 100px;
	border-radius: 0px 20px 0px 0px;
	top: 100px;
	left: 1289px;
}
.s1:hover {
	transform: rotate(90deg);
}
.s2 {
	height: 145px;
	width: 145px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 130px;
	left: 1216px;
	transform: rotate(45deg);
}
.s3 {
	height: 50px;
	width: 50px;
	border-radius: 0px 20px 0px 0px;
	top: 215px;
	left: 1129px;	
}
.s4 {
	height: 109px;
	width: 10px;
	border-radius: 0px 0px 0px 0px;
	top: 150px;
	left: 1319px; 
	transform: rotate(-45deg);
	transform: skew(45deg);
}
.s4:hover {
	width: 40px;
	left: 1305px;
}
.s5 {
	height: 100px;
	width: 100px;
	border-radius: 0px 20px 0px 20px;
	top: 210px;
	left: 1259px;
}
.s5:hover {
	transform: rotate(-270deg);
}
.s6 {
	height: 95px;
	width: 145px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 180px;
	left: 1272px;
	transform: rotate(45deg);
}
.s7 {
	height: 20px;
	width:20px;
	border-radius: 6px 6px 6px 6px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 110px;
	left: 1356px;
}
.s7:hover {
	transform: rotate(-720deg);
	transition: transform 2.5s ease-in-out;
}
.s8 {
	height: 20px;
	width:20px;
	border-radius: 6px 6px 6px 6px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 277px;
	left: 1272px;
}
.s8:hover {
	transform: rotate(360deg);
	transition: transform 1.5s ease-out;
}
.s9 {
	height: 51px;
	width: 10px;
	border-radius: 0px 0px 0px 0px;
	top: 100px;
	left: 1265px;
}
.s9:hover {
	height: 0px;
	top: 151px;
}
.s10 {
	height: 51px;
	width: 10px;
	border-radius: 0px 0px 0px 0px;
	top: 259px;
	left: 1374px;
}
.s10:hover {
	height: 0px;
}
