.home {
	position: absolute;
	top: -5px;
	left: 20px;
	width: 100px;
	height: 100px;
}
.shape1 {
	position: absolute;
	top: 0px;
	left: 280px;
	width: 100px;
	height: 100px;
}
.shape2 {
	position: absolute;
	top: 0px;
	left: 500px;
	width: 100px;
	height: 100px;
}
.shape3 {
	position: absolute;
	top: 0px;
	left: 710px;
	width: 100px;
	height: 100px;
}
.shape4 {
	position: absolute;
	top: 0px;
	left: 930px;
	width: 100px;
	height: 100px;
}
.shape5 {
	position: absolute;
	top: 0px;
	left: 1150px;
	width: 100px;
	height: 100px;
}
.pics {
	position: relative;
	left: 10px;
	width: 100px;
	height: 100px;
	margin-top: 100px;
	margin-right: 115px;
	display: inline-block;
}
.music1 {
	width: 180px;
	height: 180px;
	margin-right: 100px;
}
.music2 {
	width: 180px;
	height: 180px;
	margin-right: 100px;
}
.music3 {
	width: 180px;
	height: 180px;
	margin-right: 100px;
}
.bumpout {
	width: 360px;
	height: 360px;
}